/* Changes page background pattern */
body {
  height: 100vh;
  overflow-y: hidden;
  background:
    linear-gradient(135deg, #132238 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #fff 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #132238 25%, transparent 25%),
    linear-gradient(45deg, #c7e7eb 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #393b3d;
    opacity: 0.95;
}

/* Alters navbar on this page ONLY */
#blog-navbar {
  background-color: #ebf0f6;
  position: relative;
}

#no-post-yet {
  background-color: transparent;
  margin: auto;
  top: 0;
  bottom: 0;
  position: relative;
}

#blog-footer {
  background-color: #ebf0f6;
  color: #132238;
}

#blog-footer a {
  color: #132238;
}

#blog-footer a:hover {
  color: #afa04c;
}

/* Adds padding to copyright (on this page ONLY) */
#blog-copyright {
  font-size: 0.85rem;
  padding-bottom: 15px;
}

/* Places 'row' div in the center of the 'container' div */
.info-container {
  background-color: #ebf0f6;
  height: 100%;
  width: auto;
  padding: 15px 0;
}

/* Changes color of 'Sorry...Yet!' apology */
.notification {
  color: #132238;
  font-weight: bold;
  font-size: 2rem;
}

/* Changes color of 'check back later' prompt */
.updates {
  color: #393b3d;
}

/* Styles horizontal rule on blog.html page */
.blog-horiz-rule {
  border-width: 1.75px;
  border-color: #afa04c;
}
