horiz-rule-background/* ********** ========== Elements ========== ********** */

form {
  color: #132238;
}

/*removes box around 'input' fields. changes box to single line*/
input[type="text"],
input[type="url"],
input[type="email"],
textarea, .form-control {
  /*was originally 'select.form-control' */
  background: transparent;
  border: none;
  border-bottom: 1px solid #afa04c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

/*Removes shadow from 'input' field*/
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus,
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #132238;
}

/*Changes 'input[]:focus' glow to a a specific color*/
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus {
  border-color: #132238;
  border-color: rgba(19, 34, 56, 0.8);
  box-shadow: 0 1px 1px rgba(19, 34, 56, 0.075) inset, 0 0 2px rgba(19, 34, 56, 0.1);
  outline: 0 none;
}

/*Changes shadow and border color of checkboxes upon click*/
input[type="checkbox"]:focus,
input[type="checkbox"]:active,
input[type="checkbox"]:before,
input[type="checkbox"]:checked {
  background-color: #132238;
  background-color: rgba(19, 34, 56, 0.85);
  border-color: #132238;
  border-color: rgba(19, 34, 56, 1);
  box-shadow: 0 1px 1px rgba(19, 34, 56, 0.075) inset, 0 0 2px rgba(19, 34, 56, 0.1);
  outline: 0 none;
}

input[type="checkbox"]:focus,
input[type="checkbox"]:active,
input[type="checkbox"]:before,
input[type="checkbox"]:checked {
  background-color: #132238;
  background-color: rgba(19, 34, 56, 0.85);
  border-color: #132238;
  border-color: rgba(19, 34, 56, 1);
  box-shadow: 0 1px 1px rgba(19, 34, 56, 0.075) inset, 0 0 2px rgba(19, 34, 56, 0.1);
  outline: 0 none;
}

/*Changes shadow and border color of checkboxes upon unclick [un-check]*/
input[type="checkbox"]:focus, input[type="checkbox"], input[type="checkbox"]:checked~input[type="checkbox"]::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='transparent' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  background-color: #132238;
  background-color: rgba(19, 34, 56, 0.4);
}

/* ********** ========== IDs ========== ********** */

/* Upper Heaer Prompt Background Image */
#upper-header-prompt-contact {
  padding: 25px 0;
  height: 100vh;
}

/* Alters 'contact-avenues' seciton padding */
/* #contact-avenues {
  padding: auto 0;
} */

/* Alters 'Google-Map' seciton padding */
#google-map {
  height: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* ********** ========== Classes ========== ********** */

/* Container for upper backgorund image/cpntact prompt */
.outer-container {
  background-image: url("../images/IMG_8208.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  margin-top: 25px;
}

/* Increases size of the button prompts */
.button-prompt {
  font-size: 2.5rem;
}

/* Adds an underline and increases font size for the skill type names */
.contact-btn:hover .button-call-to-action {
  text-decoration: underline #afa04c;
}

.inner-container {
  padding-top: 25%;
}

/* Adds underline under phone number */
.phone-number {
  color: #132238;
  text-decoration: underline #132238;

}

/* Adds underline under phone number (on hover)*/
.phone-number:hover {
  color: #afa04c;
  text-decoration: underline #afa04c;
}

/* ********** Contact Form ********** */
.form-section-title {
  font-size: 1.5rem;
}

/* Moves 'X' in pop-up form to the upper-right corner */
.close:focus {
  float: right;
  font-size: 2rem;
  /* removes the outline of the 'X' when clicked */
  outline: none;
}

/*Adds padding to mdoal content (contact form)*/
.modal-content {
  padding: 20px 5px;
}

/*Adds space (margin) between input fields and proceeding contact form sections*/
.greater-contact-criteria {
  margin: 25px auto;
}

/*Alters size of aside/helper content*/
.contact-form-aside {
  color: #393b3d;
  opacity: 0.6;
  font-size: 0.8rem;
}

/*Changes background and border color of 'Subject' checkboxes*/
.form-check-input, .form-check-input {
  background-color: #132238;
  background-color: rgba(19, 34, 56, 0.15);
  border-color: #afa04c;
  border-color: rgba(175, 160, 76, 0.75);
}

/*Changes font size of checkbox and label for 'Subject'*/
.subject-list {
  font-size: 0.9rem;
}

/* ********** ========== Media Queries ========== ********** */

/* Aligns button content to the left on landscape phones and larger */
@media (min-width: 576px) {
  .contact-btn {
    text-align: left;
  }
}

/* Aligns button content to the left on smaller devices */
@media (max-width: 576px) {
  .contact-btn {
    text-align: center;
  }
}

/* Decreases size of the button prompts on tablets and laptops */
@media (max-width: 1200px) and (min-width: 768px) {
  .button-prompt {
    font-size: 1.5rem;
  }
}

/*Enlarges font size of checkbox and label for 'Subject' on small screens*/
@media (max-width: 576px) {
  .subject-list {
    font-size: 1rem;
  }
}
